html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}
#intro{
    background-color: rgb(168, 93, 93);
    text-align: center;
    color: white;
    font-size: 1rem;
}
#intro a{
    text-decoration: none;
}
#intro img{
    width: 30px;
    height: 30px;
    padding: 20px;
    margin-top: -20px;
}
#intro .portfolio-pic{
    border-radius: 50px;
    margin-top: 10px;
    width:20%;
    height:auto;
}
header{
    background: rgba(14, 2, 2, 0.038);
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px white solid;
    border-bottom:  black solid 2px;
   
}
header nav > a{
    margin-right: 16px;
    text-decoration: none;
}
header nav > a:last-child {
    margin-right: revert;
}
header nav > a:hover{
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.167);
}
.container  >section  >h2{
    text-align: center;
}

table,
tr,
th,
td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    width: max-content;
    text-align: center;
    
}
table{
    width: 100%;
}
.container{
    margin: 10px;
}
#dynamic-text{
    color: royalblue;
}

#contact-me{
    max-width:400px;
    margin: auto;
    border:2px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    background-color: antiquewhite;
}
#contact-me label {
    display: block;
    font-weight: 700;
}
#contact-me input:focus{
    border: 3px blue solid;
}
#send {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
footer {
    padding: 16px;
    text-align: center;
    border-top: 2px black solid;  
}

.mobile-nav,
.menu {
    display: none;
}

@media (width<500px) {
    .default-nav {
        display: none;
    }
    .mobile-nav,
    .menu {
        display: revert;
    }
    #menu-button {
        border: 2px black solid;
        border-radius: 20px;
        display:block;
        margin-left:auto;
        padding: 10px;
    }
    
    section.menu {
        
        height: 0;
        overflow: hidden;
        background: hsl(0, 0, 100%);
        position: fixed;
        top: 0;;
        z-index: 1;
        width: 100%;
    }
    #close-menu {
        background: transparent;
        border: none;
        font-size: x-large;
        position: absolute;
        top:16px;
        right:16px;
    }
}
    @media (width<=400px) {
        .portfolio-pic {
            width: 100%;
        }
    }

