body{
    margin: 0;
}
#intro{
    background-color: rgb(168, 93, 93);
    text-align: center;
    color: white;
    font-size: 1rem;
}
#intro a{
    text-decoration: none;
}
#intro img{
    width: 30px;
    height: 30px;
    padding: 20px;
    margin-top: -20px;
}
#intro .portfolio-pic{
    border-radius: 50px;
    margin-top: 10px;
    width:40%;
    height:auto;
}

.container  >div  >h2{
    text-align: center;
}

table,
tr,
th,
td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    width: max-content;
    text-align: center;
    
}
table{
    width: 100%;
}
.container{
    margin: 10px;
}