* {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --background-color: hsl(240deg, 80%, 100%);
    --text-color: hsl(240deg, 95%, 8%);
    --secondary-color: hsl(225, 85%, 57%);
    --intro-color: hsl(0, 0%, 85%); 
    --shadow-color: hsl(225deg, 10%, 83%);
    --shadow-color-dark: hsl(225deg, 10%, 63%);
    --drop-shadow: drop-shadow(3px 4px 4px black);
    --font-size-small: 0.5rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2rem;
    --spacing-regular: 16px;
    --spacing-small: calc(var(--spacing-regular)/2);
}
body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-regular);
}
#intro{
    background-color: var(--intro-color);
    text-align: center;
    font-size: 1rem;
}
#intro a{
    text-decoration: none;
}
#intro img{
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -20px;
}
#intro .portfolio-pic{
    border-radius: 50px;
    margin-top: 10px;
    width:30%;
    height:auto;
    filter: var(--drop-shadow);
}
.header{
    background: rgba(14, 2, 2, 0.038);
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;
   
}
header nav > a{
    margin-right: 16px;
    text-decoration: none;
    font-size: var(--font-size-regular);
    margin-top: 16px;
}

header nav > a:last-child {
    margin-right: revert;
}
header nav > a:hover{
    text-decoration: underline;
}
header nav > a:hover,
header nav > a:visited:hover{
    color: var(--secondary-color);
}
.container  >section  > h2{
    text-align: center;
}

table,
tr,
th,
td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    width: max-content;
    text-align: center;
    
}
table{
    width: 100%;
}
.container{
    margin: 10px;
}
section {
    scroll-margin-top: 4rem;
}
#dynamic-text{
    color: royalblue;
}

#contact-me{
    max-width:400px;
    margin: auto;
    border:2px solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    background-color: var(--background-color);
    border-color: var(--text-color);
}
#contact-me label {
    display: block;
    font-weight: 700;
    font-size: var(--font-size-regular);
}
#contact-me input:focus{
    border: 3px blue solid;
}
.grid-class {
    text-align: center;: center;
}
#technologies .container{
    
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--spacing-regular)
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 3px 3px 6px 5px var(--shadow-color);
    border-radius: var(--spacing-regular);
    transition: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}
.card:hover {
    box-shadow: 3px 3px 8px 9px var(--shadow-color);
    transform: translateY(calc(-1 * var(--spacing-small)));
}
.card header h1 {
    margin: 0;
}
.card ul {
    list-style: none;
    padding: 0;
}
.card ul li {
    margin-bottom: inherit;
    
}
#send {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
footer {
    padding: 16px;
    text-align: center;
    border-top: 2px black solid;  
}

.mobile-nav,
.menu {
    display: none;
}

@media (width<470px) {
    .default-nav {
        display: none;
    }
    .mobile-nav,
    .menu {
        display: revert;
    }
    #menu-button {
        border: 2px solid;
        border-radius: 20px;
        display:block;
        margin-left:auto;
        padding: 10px;
        background: var(--background-color);
        color: var(--text-color);
        border-color: var(--text-color);
    }
    
    section.menu {
        
        height: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        transition: height 0.5s;
        background-color: var(--background-color);

    }
    section.menu ul {
        list-style: none;
        margin-top: 6rem;
    }
    section.menu ul > li {
        margin-top: 16px;
        font-size: 1.5rem;
    }
    section.menu nav {
        margin-top: 48px;
    }
    #close-menu {
        border: none;
        font-size: var(--font-size-xl);
        position: absolute;
        top:16px;
        right:16px;
        margin-top: 4rem;
        background: transparent;
        color: var(--text-color);
    }
    section.menu nav ul li > a{
        text-decoration: none;
        color: var(--text-color);
    }  
}
    @media (width<=400px) {
        .portfolio-pic {
            width: 100%;
        }
    }

    @media (prefers-color-scheme:dark) {
        body {
        --background-color: hsl(240deg, 80%, 5%);
        --text-color: hsl(240deg, 80%, 100%);
        --intro-color: hsl(0,0,18%);
        --drop-shadow: drop-shadow(3px 4px 4px white);
        }
       
    }