body {
    padding: 16px;
}
.box {
    background-color: royalblue;
    width: 300px;
    height: 300px;
    margin: 32px auto;
    /* transition-property: transform; */
    /* applying transition prop. on transform */
    /* transition-duration: 1s; */
    /* transition-delay: 0.2s; */
    /* transition-timing-function: cubic-bezier(0.18, 0.43, 0.89, 0.64); */
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rotation {
        0% {
            transform: rotate(0);
        }
        25% {
            transform: rotate(45deg);
        }
        50% {
            transform: rotate(90deg);
        }
        75% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
        
    }

/* .box:hover {
    transform: scale(1.2); 
    width: 600px;
} */